.cardButton {
    width: 100%;
}

.card {
    display: none;
}

.cardHeader {
    width: 5vw;
}

#titleText {
    padding-top: 5%;
    width: 30%;
    height: auto;
}

#homeScreen {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    background-image: url("/background");
    background-size: 100% 100%;
}

#submitButton {
    background-color: #eee;
    border: 2px solid #555;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #555;
    color: white;
}

#cardTable {
    width: 100%;
}

#enterForm {
    color: white;
    padding: 15vh 40vw 2vh
}

#gameBody {
    display: none;
    size: 100% 100%;
    background-image: url('/gamebackground');
    background-size: 100% 100%;
}

#playTableCol {
    width: 70%;
}

#humanTableCol {
    width: 100%;
    text-align: right;
}

#humanTable {
    float: left;
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
}

td {
    vertical-align: middle;
}

tr {
    vertical-align: middle;
}

#effectTable {}

#waitMessage {
    display: none;
    color: white;
}

#endTurnButton {
    width: 100%;
}

.labelCol {
    width: 5%;
    font-weight: bolder;
    text-align: left;
}

.buttonCol {
    width: 6%;
    font-weight: bolder;
    text-align: center;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-collapse: separate;
}

.topRow {
    border-top: 3px solid black;
}

.bottomRow {
    border-bottom: 3px solid black;
}

.statusCol {
    font-weight: bolder;
    text-align: center;
}

#statusRow {
    height: 1em;
}

#cardDescriptions {
    font-size: 13px;
    vertical-align: top;
    font-weight: lighter;
}

#cardTypes {
    font-size: 14px;
    vertical-align: top;
    font-weight: lighter;
}

#cardNotes {
    font-size: 11px;
    vertical-align: top;
    font-weight: lighter;
}

.rowLabel {
    font-weight: bolder;
    text-align: right;
    padding-right: 5px;
}

.humanCol {
    width: 25%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

th {
    width: 100%;
}

.spacer {
    width: 100%;
    height: 35px;
}

#zombieScreen {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    background-image: url('/zombievictory');
    background-size: 100% 100%;
}

#doctorScreen {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    background-image: url('/doctorvictory');
    background-size: 100% 100%;
}

#zombieText {
    position: fixed;
    left: 5%;
    top: 2%;
    width: 30%;
    height: auto;
}

#doctorText {
    position: fixed;
    top: 5%;
    right: 35%;
    width: 30%;
    height: auto;
}

.cardNames {
    font-size: 11px;
}

#gameAnnouncement,
#zombieDeckSize,
#doctorDeckSize,
#zombieDiscardSize,
#doctorDiscardSize,
#opponent {
    height: 35px;
    position: fixed;
    bottom: 0%;
    background-color: #ccc;
    opacity: 1;
    vertical-align: middle;
    border: 1px solid black;
    padding-left: 5px;
}

#gameAnnouncement {
    left: 0%;
    width: 35%;
}

#zombieDeckSize {
    left: 35%;
    width: 10%;
}

#doctorDeckSize {
    left: 45%;
    width: 10%;
}

#zombieDiscardSize {
    left: 55%;
    width: 10%;
}

#doctorDiscardSize {
    left: 65%;
    width: 10%;
}

#opponent {
    left: 75%;
    width: 25%;
    text-align: center;
}

.warningCard {
    color: red;
    display: inline;
    font-weight: bolder;
}

#human0,
#human1,
#human2,
#human3 {
    padding-right: 8px;
    padding-left: 8px;
}

#cardTable {
    padding-left: 5px;
}

#gameHeading {
    font-size: 35px;
}

#playerInfo {
    font-size: 25px;
}

#ruleButton {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 15%;
    border-radius: 2px;
    background-color: #ccc;
    text-align: center;
}

#lobbyScreen {
    background-image: url('/gamebackground');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}